@model AddApartmentFormModel

@{
    ViewData["Title"] = "Add Apartment";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">Add Apartment</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="ApartmentsTypes">Apartments Types</label>
                    <select asp-for="ApartmentsTypes" class="form-control" asp-items="Html.GetEnumSelectList<ApartmentsTypes>().OrderBy(x => x.Value)"
                            placeholder="Apartment Type..."></select>
                    <span asp-validation-for="ApartmentsTypes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CityId"></label>
                    <select asp-for="CityId" class="form-control">
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CityId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NeighborhoodId"></label>
                    <select asp-for="NeighborhoodId" class="form-control">
                        @foreach (var neighborhood in Model.Neighborhoods)
                        {
                            <option value="@neighborhood.Id">@neighborhood.Name</option>
                        }
                    </select>
                    <span asp-validation-for="NeighborhoodId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Floor"></label>
                    <input asp-for="Floor" class="form-control" placeholder="Please enter a floor">
                    <span asp-validation-for="Floor" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="This is the perfect apartament..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Please enter a price">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RentOrSell">Rent or Sell</label>
                    <select asp-for="RentOrSell" class="form-control" asp-items="Html.GetEnumSelectList<RentOrSell>().OrderBy(x => x.Value)"
                            placeholder="Rent or Sell..."></select>
                    <span asp-validation-for="RentOrSell" class="text-danger"></span>
                </div>
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>