@model BecomeClientFormModel

@{
    ViewBag.Title = "Become Client";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">Become Client</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="Please enter your first name">
                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Please enter your last name">
                    <span asp-validation-for="LastName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="088 888 8888">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>